@import url ("../../style/page.css");
table.treeview {
	width:260px;
}
div.treeviewScrollBar {
	width:240px;
	height:480px;
}
table.treeviewFile {
	width:680px;
}
div.treeviewFileScrollBar {
	width:700px;
	height:480px;
}
