BODY {
	COLOR: #2020aa; FONT: small verdana, arial, helvetica, sans-serif; MARGIN-LEFT: 0%; MARGIN-RIGHT: 0%
}
A:link {
	COLOR: #2020a0
}
A:hover {
	COLOR: #ff4030
}
IMG {
	COLOR: #2020a0; FONT: 8pt verdana, arial, helvetica, sans-serif; valign: top
}
.p0 {
	COLOR: #2020a0; FONT: 8pt verdana, arial, helvetica, sans-serif; valign: top
}
.p1 {
	COLOR: #2020a0; FONT: 8pt verdana, arial, helvetica, sans-serif; valign: top
}
A.p1:hover {
	BACKGROUND: #ffffa0; COLOR: #2020a0
}
