@import url ("../toolbar/ToolBar_Dark01.css");
@import url ("../component/treeview/TreeView_Dark01.css");
@import url ("../component/treeview/TreeViewFile_Dark01.css");
@import url ("../component/combo/Completion_Dark01.css");
body {
	background-image: url(/img/Style/Dark/Background/Background01.jpg);
	background-color: #000000;
	scrollbar-face-color: #333333;
	scrollbar-highlight-color: #C2C2C2;
	scrollbar-3dlight-color: gray;
	scrollbar-darkshadow-color: gray;
	scrollbar-shadow-color: black;
	scrollbar-arrow-color: #FFFFCC;
	scrollbar-track-color: #D9D9D9;
}
/*                 TextEditor                      */
textarea.TextEditor {
	overflow-x:auto;
	overflow-y:auto;
	background-color: #F2F2F2;
	border: 1px solid #284957;
}
textarea {
	border: 1px solid #284957;
}
/*                   Input                         */
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#505050;
	background-color:white;
	border-color:black;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
/*                   Select                        */
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#505050;
	background-color:white;
	border-color:black;
	border: black;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
/*                     Img                         */
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
/*                    Font                        */
font.normal {
	color: white;
}
font.inverse {
	color: black;
}

iframe.texteditor {
	border: 1px solid #555577;
	font-family:sans-serif;
	font-size:10%;
	font-weight:bold;
}

/*-- Transparency --*/
td.treeviewMain {
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;
}
input {
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;
}
textarea.TreeView_Content_ScrollBar {
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;
}
#theTableToDo {
}
#theTableResolved {
}
#theCellToDo {
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;
}
#theCellResolved {
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;
}
