@import url ("../../style/page.css");
td.MainLeft {
	width:20%;
}
td.MainRight {
	width:80%;
}
table.treeview {
	width:100%;
}
table.treeviewFile {
	width:100%;
	height:100%;
}
table.treeviewFileList {
	width:100%;
}
tr.treeviewFile#title {
	height:15px;
}
div.treeviewScrollBar {
	width:100%;
	height:100%;
}
div.treeviewFileScrollBar {
	width:100%;
	height:100%;
}
td.treeviewFileList {
	align:center;
}
