div.treeviewFileScrollBar {
	overflow-x:auto; 
	overflow-y:auto;
/*	background-color:white;*/
	border-color:#84B2C6;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
table.treeviewFile {
	border-collapse: collapse;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 0em;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
}
th.treeviewFile {
	background-color:#E8F8FF;
	color:gray;
	font-size=smaller;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
td.treeviewFile {
	border-color:#84B2C6;
}
tr.treeviewFile {
	font-size=smaller;
}