div.treeviewFileScrollBar {
    overflow-x:auto;
    overflow-y:auto;
/*    background-color:white;*/
    border-color:#84B2C6;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
table.treeviewFile {
    border: 0px solid black;
    border-collapse: collapse;
    padding-top: 0em;
    padding-right: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    border-spacing:0px 0px 0px 0px;
}
table.treeviewFileList {
    border: 0px solid black;
    border-collapse: collapse;
    padding-top: 0em;
    padding-right: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    border-spacing:0px 0px 0px 0px;
}
th.treeviewFile {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    TEXT-ALIGN: center;
    border: 0px solid black;
    background-image: url(/resources/img/Style/Classic/Header/Header_01.gif);
}
td.treeviewFile {
    BACKGROUND-COLOR: white;
    border: 0px solid black;
    font-size:smaller;
    vertical-align:top;
    height:100%;
    padding:0px 0px 0px 0px;
    marging:0px 0px 0px 0px;
}
td.treeviewFileList {
    border-color:#CCCCCC;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    vertical-align:center;
    padding:0px 0px 0px 0px;
    marging:0px 0px 0px 0px;
}
td.treeviewFileMain {
/*    BACKGROUND-COLOR: white;*/
    border: 0px solid black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:8px;
/*    font-size:smaller;*/
    vertical-align:top;
    height:100%;
    padding:0px 0px 0px 0px;
    marging:0px 0px 0px 0px;
}
tr.treeviewFile {
    border: 0px solid black;
    font-size:smaller;
}
tr.treeviewFileList {
    font-size:smaller;
}
tr.treeviewFileListColored {
    font-size:smaller;
    background-color:#EEEEEE;
}