div.treeviewFileScrollBar {
	overflow-x:auto;
	overflow-y:auto;
/*	background-color:white;*/
	border-color:#84B2C6;
	border-style: solid;
	border-top-width: 0px;//1px;
	border-right-width: 0px;//1px;
	border-bottom-width: 0px;//1px;
	border-left-width: 0px;//1px;
}
table.treeviewFile {
	border: 0px solid black;
	border-collapse: collapse;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 0em;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
}
th.treeviewFile {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 2px;
	TEXT-ALIGN: center;
	border: 0px solid black;
	color:#B8B8B8;
	background-color: #000070; //#E8F8FF;
}
td.treeviewFile {
	border-color:#84B2C6;
}
tr.treeviewFile {
	border: 0px solid black;
	font-size=smaller;
}
