/*@import url ("../../style/page.css");*/
@import url ("/css/style/page.css");
table.treeview {
	width:220px;
}
div.treeviewScrollBar {
	width:220px;
	height:220px;
}
div.comboCompletion {
	width:240px;
	height:200px;
        align:left;
}
div.AutoCompleteHeader {
	width:240px;
        align:left;
}
div.AutoCompleteHighlight {
	width:480px;
        align:left;
}
div.AutoCompleteBackground {
	width:480px;
        align:left;
}
