table.toolBar {
	text-align: left;
	background-color: buttonface;
}
img.buttonOut {
	background-color: buttonface;
	border: 1px solid buttonface;
}
img.buttonOver {
	background-color: '#ffffff';
	border: 1px solid buttonshadow;
}
img.buttonOptionOut {
	background-color: white;
	border: 1px solid buttonface;
}
img.buttonOptionOver01 {
	background-color: #FFFFFF;
	border: 1px solid buttonshadow;
}
img.buttonOptionOver02 {
	background-color: #FFFFFF;
	border: 1px solid buttonshadow;
}
img.buttonOptionOver03 {
	background-color: #FFFFFF;
	border: 1px solid buttonshadow;
}
img.buttonOptionOver04 {
	background-color: #FFFFFF;
	border: 1px solid buttonshadow;
}
img.buttonOptionOver05 {
	background-color: #FFFFFF;
	border: 1px solid buttonshadow;
}
img.buttonOptionOver06 {
	background-color: #FFFFFF;
	border: 1px solid buttonshadow;
}
img.buttonOptionOver07 {
	background-color: #FFFFFF;
	border: 1px solid buttonshadow;
}