@import url ("../toolbar/ToolBar_Classic01.css");
@import url ("../component/treeview/TreeView_Border01.css");
@import url ("../component/treeview/TreeViewFile_Border01.css");
@import url ("../component/combo/Completion_Border01.css");
body {
    background-color: buttonface;
    scrollbar-face-color: #CCCCCC
    scrollbar-highlight-color: buttonface;
    scrollbar-3dlight-color: #000000;
    scrollbar-darkshadow-color: buttonface;
    scrollbar-shadow-color: #000000;
    scrollbar-arrow-color: #000000;
    scrollbar-track-color: buttonface;
}
/*                 TextEditor                      */
textarea.TextEditor {
    overflow-x:auto;
    overflow-y:auto;
    background-color: white;
    border: 1px solid black;
}
/*                   Input                         */
input {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#505050;
    background-color:white;
    border-color:black;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
select {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
img {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
/*                    Font                        */
font.normal {
    color: white;
}
font.inverse {
    color: black;
}

iframe.texteditor {
    border: 1px solid #555577;
    font-family:sans-serif;
    font-size:10%;
    font-weight:bold;
}

/*-- Transparency --*/
td.treeviewMain {
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    opacity: 0.85;
}
input {
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    opacity: 0.85;
}
textarea.TreeView_Content_ScrollBar {
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    opacity: 0.85;
}
#theTableToDo {
}
#theTableResolved {
}
#theCellToDo {
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    opacity: 0.85;
}
#theCellResolved {
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    opacity: 0.85;
}
