@import url ("../style/page.css");
/*
body {
	scrollbar-face-color: #CCCCCC
	scrollbar-highlight-color: buttonface;
	scrollbar-3dlight-color: #000000;
	scrollbar-darkshadow-color: buttonface;
	scrollbar-shadow-color: #000000;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: buttonface;	
}
*/
#theTableToDo {
	width:100%;
	table-layout:fixed;
}
#theTableResolved {
	width:100%;
	table-layout:fixed;
}
#theCellToDo {
	background-color:white;
	overflow:auto;
	clip:auto;
	border:1px solid black;
	width:100%;
	height:60px
}
#theCellResolved {
	background-color:white;
	overflow:auto;
	clip:auto;
	border:1px solid black;
	width:100%;
	height:60px
}
