body {
/*
  scrollbar-3dlight-color: #FFFFFF;
  scrollbar-arrow-color: #555577;
  scrollbar-base-color: #FFFFCC;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-face-color: #FEFEDC;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-shadow-color: #000000;
*/
  scrollbar-3dlight-color: #9999AA;
  scrollbar-arrow-color: #555577;
  scrollbar-darkshadow-color: #AAAAAA;
  scrollbar-face-color: #FEFEDC;
  scrollbar-highlight-color: #666677;/*#222233;*/
  scrollbar-shadow-color: #555555;
  scrollbar-track-color: #EEEEEE;

  background-color:white;
  /*
  line-height:10.5pt;
  margin-left:0%;
  margin-right:0%;
  */
  /*line-height:15px;*/
  /*font-family: Courrier;*/
  /*font-size:10px;*/
  /*font-size:smaller;*/
  /*font-weight:normal;*/
  font-family: Verdana, Arial, Helvetica, sans-serif;
/*  font-size:9px;*/
  font-size:12px;
  font-weight:normal;
  margin-left:0%;
  margin-right:0%;
}
