@import url ("/css/style/page.css");
table.treeview {
	width:100%;
}
td.MainLeft {
	width:20%;
}
td.MainRight {
	width:80%;
}
div.treeviewScrollBar {
	width:100%;
	height:100%;
}
div.comboCompletion {
	width:240px;
	height:200px;
  align:left;
}
div.AutoCompleteHeader {
	width:240px;
  align:left;
}
div.AutoCompleteHighlight {
	width:480px;
  align:left;
}
div.AutoCompleteBackground {
	width:480px;
  align:left;
}

td.parameter {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:9px;
}
